In [77]:
import pandas as pd

In [3]:
original_data = pd.read_parquet("escooter_copy.parquet")

### Data Cleaning

In [20]:
df_org_data = original_data.copy()

In [30]:
# Transformed dtypes of Dataframe   
df_org_data.holiday = df_org_data.holiday.astype(bool)
df_org_data.workingday = df_org_data.workingday.astype(bool)
df_org_data.loc[df_org_data.temp >45, "temp"] = df_org_data.temp.div(100)

In [24]:
# Dataframe as no NaN values
df_org_data.isnull().describe()

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
count,3755415,3755415,3755415,3755415,3755415,3755415,3755415,3755415,3755415
unique,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False
freq,3755415,3755415,3755415,3755415,3755415,3755415,3755415,3755415,3755415

In [29]:
# Duplicates ??
df_org_data.drop_duplicates().count(axis=0)

datetime               3610562
holiday                3610562
workingday             3610562
weather                3610562
temp                   3610562
atemp                  3610562
humidity               3610562
windspeed              3610562
registered_customer    3610562
dtype: int64

### Temp Fehler

In [4]:
df_temp = original_data.copy()

In [52]:
# Temperatures that are too high
df_temp.loc[df_temp.temp >45]

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
2138,2020-01-06 10:10:53,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,True
2139,2020-01-06 10:13:12,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,False
2140,2020-01-06 10:13:43,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,True
2141,2020-01-06 10:14:04,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,True
2142,2020-01-06 10:16:25,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,True
...,...,...,...,...,...,...,...,...,...
3751388,2022-01-03 10:18:44,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,True
3751389,2022-01-03 10:18:51,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,True
3751390,2022-01-03 10:18:59,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,False
3751391,2022-01-03 10:19:11,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,True
3751392,2022-01-03 10:19:15,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,True

In [49]:
df_temp.loc[(df_temp.temp >45) & (df_temp.temp.isnull() == True)]

Empty DataFrame
Columns: [datetime, holiday, workingday, weather, temp, atemp, humidity, windspeed, registered_customer]
Index: []

In [74]:
temp_mistake = df_temp.loc[df_temp.temp >45].groupby(pd.Grouper(key="datetime", freq="S")).agg({"weather": "count","humidity": "mean","windspeed": "mean","workingday": "sum","holiday": "sum", "temp": "mean", "atemp": "mean", "registered_customer": "count"}).dropna()

In [76]:
# 10:00:00 AM is the time
temp_mistake.sample(50)

,weather,humidity,windspeed,workingday,holiday,temp,atemp,registered_customer
datetime,,,,,,,,
2021-09-06 10:15:36,1,74.0,15.0013,0.0,1.0,3034.0,35.605,1
2020-03-30 10:10:22,1,30.0,12.9980,1.0,0.0,984.0,11.365,1
2021-08-16 10:10:37,1,40.0,0.0000,1.0,0.0,3116.0,34.090,1
2021-12-06 10:10:28,1,77.0,8.9981,1.0,0.0,1804.0,21.970,1
2020-05-11 10:17:22,1,52.0,12.9980,1.0,0.0,2296.0,26.515,1
2021-08-09 10:17:02,1,70.0,15.0013,1.0,0.0,3034.0,34.850,1
2021-11-22 10:13:30,1,66.0,16.9979,1.0,0.0,1476.0,16.665,1
2021-02-22 10:16:21,1,55.0,30.0026,0.0,1.0,902.0,9.850,1
2020-06-01 10:13:00,1,55.0,16.9979,0.0,1.0,3280.0,37.880,1
2021-08-09 10:19:06,1,70.0,15.0013,1.0,0.0,3034.0,34.850,1
2021-10-04 10:19:49,1,56.0,0.0000,1.0,0.0,2214.0,25.760,1
2021-04-19 10:16:39,1,69.0,16.9979,0.0,1.0,2542.0,30.305,1
2021-09-27 10:11:36,1,49.0,15.0013,1.0,0.0,2214.0,25.760,1
2020-10-12 10:12:16,1,73.0,11.0014,0.0,1.0,2296.0,26.515,1
2021-03-01 10:18:01,1,45.0,16.9979,1.0,0.0,1312.0,15.150,1
2021-12-06 10:12:56,2,77.0,8.9981,2.0,0.0,1804.0,21.970,2
2020-06-15 10:14:23,1,41.0,22.0028,1.0,0.0,2624.0,31.060,1
2020-06-29 10:12:34,1,54.0,8.9981,1.0,0.0,2952.0,33.335,1
2021-06-14 10:12:57,1,62.0,11.0014,1.0,0.0,2952.0,34.090,1
2020-10-12 10:19:12,1,73.0,11.0014,0.0,1.0,2296.0,26.515,1
2020-04-27 10:11:36,1,73.0,15.0013,1.0,0.0,2624.0,30.305,1
2020-01-27 10:10:52,1,42.0,0.0000,1.0,0.0,410.0,6.820,1
2021-05-03 10:17:12,1,41.0,11.0014,1.0,0.0,1722.0,21.210,1
2020-06-01 10:17:18,1,55.0,16.9979,0.0,1.0,3280.0,37.880,1
2021-09-06 10:13:29,1,74.0,15.0013,0.0,1.0,3034.0,35.605,1
2021-06-28 10:13:44,1,55.0,11.0014,1.0,0.0,3116.0,34.850,1
2020-06-15 10:12:11,1,41.0,22.0028,1.0,0.0,2624.0,31.060,1
2021-04-12 10:19:57,1,27.0,32.9975,1.0,0.0,2050.0,24.240,1
2021-02-15 10:13:18,1,50.0,8.9981,1.0,0.0,574.0,7.575,1
2021-02-08 10:18:30,1,75.0,7.0015,1.0,0.0,902.0,12.120,1
2020-12-07 10:11:15,1,87.0,6.0032,1.0,0.0,1476.0,18.180,1
2020-11-09 10:18:30,1,93.0,8.9981,1.0,0.0,1476.0,17.425,1
2020-01-06 10:14:04,1,43.0,16.9979,1.0,0.0,738.0,8.335,1
2021-07-05 10:11:00,1,43.0,16.9979,1.0,0.0,3280.0,36.365,1
2020-07-27 10:16:57,1,59.0,0.0000,1.0,0.0,3362.0,40.150,1
2020-04-13 10:19:52,1,83.0,19.9995,1.0,0.0,2296.0,26.515,1
2020-01-27 10:15:44,1,42.0,0.0000,1.0,0.0,410.0,6.820,1
2020-11-02 10:12:55,1,57.0,11.0014,1.0,0.0,1476.0,17.425,1
2021-11-22 10:12:33,1,66.0,16.9979,1.0,0.0,1476.0,16.665,1
2021-10-11 10:15:12,1,68.0,8.9981,0.0,1.0,1558.0,19.695,1
2021-07-12 10:16:47,1,83.0,12.9980,1.0,0.0,2706.0,30.305,1
2021-02-08 10:17:42,1,75.0,7.0015,1.0,0.0,902.0,12.120,1
2021-12-13 10:19:20,1,94.0,15.0013,1.0,0.0,1804.0,21.970,1
2020-09-07 10:18:59,1,70.0,11.0014,0.0,1.0,2870.0,32.575,1
2021-09-27 10:16:20,1,49.0,15.0013,1.0,0.0,2214.0,25.760,1
2020-06-01 10:17:50,1,55.0,16.9979,0.0,1.0,3280.0,37.880,1
2021-03-08 10:16:05,1,60.0,0.0000,1.0,0.0,984.0,12.880,1
2020-05-25 10:10:07,1,74.0,19.9995,1.0,0.0,2706.0,31.060,1
2021-10-25 10:16:09,1,55.0,0.0000,1.0,0.0,2050.0,24.240,1
2021-09-13 10:10:22,1,50.0,19.0012,1.0,0.0,2542.0,31.060,1