In [2]:
import pandas as pd

In [3]:
original_data = pd.read_parquet("escooter_copy.parquet")

### Data Cleaning

In [4]:
df_org_data = original_data.copy()

In [5]:
# Transformed dtypes of Dataframe   
df_org_data.holiday = df_org_data.holiday.astype(bool)
df_org_data.workingday = df_org_data.workingday.astype(bool)
df_org_data.loc[df_org_data.temp >45, "temp"] = df_org_data.temp.div(100)

In [6]:
# Dataframe as no NaN values
df_org_data.isnull().describe()

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
count,3755415,3755415,3755415,3755415,3755415,3755415,3755415,3755415,3755415
unique,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False
freq,3755415,3755415,3755415,3755415,3755415,3755415,3755415,3755415,3755415

### Duplicates

In [7]:
df_org_data.count(axis=0)

datetime               3755415
holiday                3755415
workingday             3755415
weather                3755415
temp                   3755415
atemp                  3755415
humidity               3755415
windspeed              3755415
registered_customer    3755415
dtype: int64

In [8]:
df_org_data.nunique()

datetime               3565296
holiday                      2
workingday                   2
weather                      4
temp                        50
atemp                       65
humidity                    89
windspeed                   30
registered_customer          2
dtype: int64

In [9]:
# Duplicates ??
df_org_data.drop_duplicates().count(axis=0)

datetime               3610562
holiday                3610562
workingday             3610562
weather                3610562
temp                   3610562
atemp                  3610562
humidity               3610562
windspeed              3610562
registered_customer    3610562
dtype: int64

### Temp Fehler

In [10]:
df_temp = original_data.copy()

In [11]:
# Temperatures that are too high
df_temp.loc[df_temp.temp >45]

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
2138,2020-01-06 10:10:53,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,True
2139,2020-01-06 10:13:12,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,False
2140,2020-01-06 10:13:43,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,True
2141,2020-01-06 10:14:04,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,True
2142,2020-01-06 10:16:25,0.0,1.0,"clear, few clouds",738.0,8.335,43.0,16.9979,True
...,...,...,...,...,...,...,...,...,...
3751388,2022-01-03 10:18:44,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,True
3751389,2022-01-03 10:18:51,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,True
3751390,2022-01-03 10:18:59,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,False
3751391,2022-01-03 10:19:11,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,True
3751392,2022-01-03 10:19:15,0.0,1.0,"cloudy, mist",820.0,10.605,69.0,8.9981,True

In [12]:
df_temp.loc[(df_temp.temp >45) & (df_temp.temp.isnull() == True)]

Empty DataFrame
Columns: [datetime, holiday, workingday, weather, temp, atemp, humidity, windspeed, registered_customer]
Index: []

In [13]:
temp_mistake = df_temp.loc[df_temp.temp >45].groupby(pd.Grouper(key="datetime", freq="S")).agg({"weather": "count","humidity": "mean","windspeed": "mean","workingday": "sum","holiday": "sum", "temp": "mean", "atemp": "mean", "registered_customer": "count"}).dropna()

In [14]:
# 10:00:00 AM is the time
temp_mistake.sample(50)

,weather,humidity,windspeed,workingday,holiday,temp,atemp,registered_customer
datetime,,,,,,,,
2021-05-03 10:10:26,2,41.0,11.0014,2.0,0.0,1722.0,21.210,2
2020-01-27 10:10:44,1,42.0,0.0000,1.0,0.0,410.0,6.820,1
2021-06-28 10:14:49,1,55.0,11.0014,1.0,0.0,3116.0,34.850,1
2020-11-16 10:15:24,1,63.0,19.0012,1.0,0.0,2050.0,24.240,1
2020-07-06 10:15:01,2,55.0,6.0032,0.0,2.0,3116.0,34.850,2
2021-10-11 10:13:15,2,68.0,8.9981,0.0,2.0,1558.0,19.695,2
2021-07-05 10:13:57,1,43.0,16.9979,1.0,0.0,3280.0,36.365,1
2021-11-15 10:17:38,1,77.0,11.0014,0.0,1.0,1968.0,23.485,1
2021-07-19 10:13:44,1,59.0,0.0000,1.0,0.0,3280.0,38.635,1
2020-07-06 10:14:52,1,55.0,6.0032,0.0,1.0,3116.0,34.850,1
2020-11-16 10:19:55,1,63.0,19.0012,1.0,0.0,2050.0,24.240,1
2020-05-18 10:19:35,1,65.0,6.0032,1.0,0.0,2542.0,30.305,1
2020-07-13 10:19:57,1,55.0,23.9994,1.0,0.0,3280.0,37.880,1
2020-04-27 10:11:36,1,73.0,15.0013,1.0,0.0,2624.0,30.305,1
2021-02-22 10:17:11,1,55.0,30.0026,0.0,1.0,902.0,9.850,1
2020-12-14 10:18:08,1,69.0,7.0015,1.0,0.0,902.0,12.120,1
2021-07-19 10:12:15,1,59.0,0.0000,1.0,0.0,3280.0,38.635,1
2021-10-04 10:13:19,1,56.0,0.0000,1.0,0.0,2214.0,25.760,1
2021-11-15 10:12:07,1,77.0,11.0014,0.0,1.0,1968.0,23.485,1
2021-09-06 10:18:00,1,74.0,15.0013,0.0,1.0,3034.0,35.605,1
2021-01-25 10:11:55,1,93.0,0.0000,1.0,0.0,820.0,12.880,1
2021-03-29 10:18:53,1,36.0,39.0007,1.0,0.0,2050.0,24.240,1
2020-01-20 10:11:12,1,50.0,16.9979,0.0,1.0,656.0,7.575,1
2021-11-22 10:13:52,1,66.0,16.9979,1.0,0.0,1476.0,16.665,1
2021-04-05 10:17:54,1,50.0,35.0008,1.0,0.0,1640.0,20.455,1
2020-06-15 10:18:48,1,41.0,22.0028,1.0,0.0,2624.0,31.060,1
2021-05-03 10:16:32,1,41.0,11.0014,1.0,0.0,1722.0,21.210,1
2020-09-28 10:17:44,1,89.0,12.9980,1.0,0.0,2624.0,28.790,1
2021-10-25 10:19:32,1,55.0,0.0000,1.0,0.0,2050.0,24.240,1
2020-12-07 10:11:08,1,87.0,6.0032,1.0,0.0,1476.0,18.180,1
2021-08-16 10:12:16,1,40.0,0.0000,1.0,0.0,3116.0,34.090,1
2020-03-09 10:16:07,1,60.0,19.9995,1.0,0.0,984.0,10.605,1
2021-09-06 10:16:57,1,74.0,15.0013,0.0,1.0,3034.0,35.605,1
2020-04-06 10:13:57,1,45.0,23.9994,1.0,0.0,2214.0,25.760,1
2020-03-02 10:14:33,1,72.0,32.9975,1.0,0.0,2132.0,25.000,1
2021-03-08 10:14:38,1,60.0,0.0000,1.0,0.0,984.0,12.880,1
2021-07-05 10:10:18,1,43.0,16.9979,1.0,0.0,3280.0,36.365,1
2020-01-06 10:13:12,1,43.0,16.9979,1.0,0.0,738.0,8.335,1
2020-07-13 10:11:47,1,55.0,23.9994,1.0,0.0,3280.0,37.880,1
2021-12-20 10:16:36,1,87.0,6.0032,1.0,0.0,1558.0,19.695,1
2021-12-13 10:14:26,1,94.0,15.0013,1.0,0.0,1804.0,21.970,1
2020-12-28 10:15:58,1,42.0,35.0008,0.0,1.0,1394.0,14.395,1
2021-05-03 10:15:02,1,41.0,11.0014,1.0,0.0,1722.0,21.210,1
2020-05-04 10:12:41,1,77.0,15.0013,1.0,0.0,2214.0,25.760,1
2021-07-05 10:14:37,1,43.0,16.9979,1.0,0.0,3280.0,36.365,1
2021-09-06 10:16:03,1,74.0,15.0013,0.0,1.0,3034.0,35.605,1
2021-07-12 10:10:21,1,83.0,12.9980,1.0,0.0,2706.0,30.305,1
2020-05-04 10:14:40,1,77.0,15.0013,1.0,0.0,2214.0,25.760,1
2021-04-19 10:16:28,1,69.0,16.9979,0.0,1.0,2542.0,30.305,1
2020-11-30 10:16:23,1,77.0,8.9981,1.0,0.0,1968.0,23.485,1

### Humidity

In [15]:
dfh = df_org_data.copy()

In [19]:
# Max and Min of Humidity are extreme ?
dfh.humidity.describe().round(2)

count    3755415.00
mean          57.22
std           18.40
min            0.00
25%           43.00
50%           56.00
75%           71.00
max          100.00
Name: humidity, dtype: float64

In [21]:
# no NaN values
dfh.loc[dfh.humidity.isna() ==  True]

Empty DataFrame
Columns: [datetime, holiday, workingday, weather, temp, atemp, humidity, windspeed, registered_customer]
Index: []

In [29]:
dfh1 = dfh.loc[dfh.humidity == 100]
dfh1[["datetime", "temp", "atemp", "weather", "windspeed"]].to_clipboard()

In [53]:
dfh2 = dfh1.groupby(["weather", "datetime"]).agg(temp =("temp", "mean"), atemp= ("atemp", "mean"), windspeed= ("windspeed", "mean"), humidity= ("humidity", "mean")).reset_index()
dfh2

,weather,datetime,temp,atemp,windspeed,humidity
0,"clear, few clouds",2020-02-08 21:00:28,10.66,12.88,12.998,100.0
1,"clear, few clouds",2020-02-08 21:01:47,10.66,12.88,12.998,100.0
2,"clear, few clouds",2020-02-08 21:02:14,10.66,12.88,12.998,100.0
3,"clear, few clouds",2020-02-08 21:03:10,10.66,12.88,12.998,100.0
4,"clear, few clouds",2020-02-08 21:03:24,10.66,12.88,12.998,100.0
...,...,...,...,...,...,...
19528,light snow or rain or thunderstorm,2022-01-01 13:59:25,8.20,12.12,0.000,100.0
19529,light snow or rain or thunderstorm,2022-01-01 13:59:28,8.20,12.12,0.000,100.0
19530,light snow or rain or thunderstorm,2022-01-01 13:59:59,8.20,12.12,0.000,100.0
19531,light snow or rain or thunderstorm,2022-01-01 14:00:17,8.20,12.12,0.000,100.0
19532,light snow or rain or thunderstorm,2022-01-01 14:00:21,8.20,12.12,0.000,100.0

In [54]:
dfh3 = dfh2.loc[dfh2.weather == "clear, few clouds"].reset_index(drop = True)

In [55]:
dfh3.loc[dfh3.datetime.between("2020-12-1", "2020-12-31")].head(5)

               weather            datetime   temp  atemp  windspeed  humidity
807  clear, few clouds 2020-12-09 00:02:06  18.04  21.97     12.998     100.0
808  clear, few clouds 2020-12-09 00:02:55  18.04  21.97     12.998     100.0
809  clear, few clouds 2020-12-09 00:04:53  18.04  21.97     12.998     100.0
810  clear, few clouds 2020-12-09 00:05:07  18.04  21.97     12.998     100.0
811  clear, few clouds 2020-12-09 00:06:10  18.04  21.97     12.998     100.0

In [56]:
dfh3.to_clipboard()

woher bezeiehen sie die wetterdaten (großraumwetterdaten)?
wie genau ist der humidity sensor, welche toleranz hat er ?
gibt es eine bestimmte geographische region der die daten entstammen? 

clear, few clouds	2020-02-08 21:54:54	10.66	12.88	12.998	100.0 kann zb nicht schwül sein da die temp dafür zu niedrig ist!