In [1]:
import pandas as pd

In [2]:
df_org_data = pd.read_parquet("escooter_copy.parquet")

In [3]:
df_org_data.holiday = df_org_data.holiday.astype(bool)
df_org_data.workingday = df_org_data.workingday.astype(bool)
df_org_data.loc[df_org_data.temp >45, "temp"] = df_org_data.temp.div(100)

In [5]:
df = df_org_data.copy()

In [11]:
df[["temp", "atemp", "humidity", "windspeed"]].round(4)

          temp   atemp  humidity  windspeed
0         9.84  14.395      81.0     0.0000
1         9.84  14.395      81.0     0.0000
2         9.84  14.395      81.0     0.0000
3         9.84  14.395      81.0     0.0000
4         9.84  14.395      81.0     0.0000
...        ...     ...       ...        ...
3755410  10.66  13.635      65.0     8.9981
3755411  10.66  13.635      65.0     8.9981
3755412  10.66  13.635      65.0     8.9981
3755413  10.66  13.635      65.0     8.9981
3755414  10.66  13.635      65.0     8.9981

[3755415 rows x 4 columns]