In [18]:
import pandas as pd
import plotly.express as px
import numpy as np
import missingno as msn
import datetime
from pandas_profiling import ProfileReport
import sklearn

In [24]:
df = pd.read_parquet("escooter_history_2022.parquet")

In [3]:
df

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
0,2020-01-04 00:00:09,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
1,2020-01-04 00:00:41,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
2,2020-01-04 00:01:20,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
3,2020-01-04 00:04:12,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
4,2020-01-04 00:15:19,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
...,...,...,...,...,...,...,...,...,...
3755410,2022-01-03 23:58:10,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755411,2022-01-03 23:58:28,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755412,2022-01-03 23:58:46,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755413,2022-01-03 23:59:16,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755414,2022-01-03 23:59:48,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True

In [17]:
df.dtypes

datetime               datetime64[ns]
holiday                       float64
workingday                    float64
weather                        object
temp                          float64
atemp                         float64
humidity                      float64
windspeed                     float64
registered_customer           boolean
dtype: object

In [20]:
df.describe()

,holiday,workingday,temp,atemp,humidity,windspeed,registered_customer
count,3.755415e+06,3.755415e+06,3.755415e+06,3.755415e+06,3.755415e+06,3.755415e+06,3755415
unique,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,True
freq,NaN,NaN,NaN,NaN,NaN,NaN,3055800
mean,2.815588e-02,6.909694e-01,2.479423e+01,2.679851e+01,5.722368e+01,1.334635e+01,NaN
std,1.654180e-01,4.620939e-01,6.327858e+01,8.033991e+00,1.840264e+01,8.037776e+00,NaN
min,0.000000e+00,0.000000e+00,8.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
25%,0.000000e+00,0.000000e+00,1.722000e+01,2.121000e+01,4.300000e+01,7.001500e+00,NaN
50%,0.000000e+00,1.000000e+00,2.460000e+01,2.803000e+01,5.600000e+01,1.299800e+01,NaN
75%,0.000000e+00,1.000000e+00,2.952000e+01,3.257500e+01,7.100000e+01,1.900120e+01,NaN
max,1.000000e+00,1.000000e+00,3.526000e+03,5.000000e+01,1.000000e+02,5.699690e+01,NaN

In [ ]:
df[(df.temp == 3526.0)]
#df.loc[df.temp == 3526.0, "temp"] = df.temp.div(100)

In [26]:
#df[(df.temp > 50)]
df.loc[df.temp > 50, "temp"] = df.temp.div(100)

In [27]:
df.iloc[2138]

datetime               2020-01-06 10:10:53
holiday                                0.0
workingday                             1.0
weather                  clear, few clouds
temp                                  7.38
atemp                                8.335
humidity                              43.0
windspeed                          16.9979
registered_customer                   True
Name: 2138, dtype: object

In [3]:
# df = df.set_index('date')
df_slice1 = df.groupby(pd.Grouper(key="datetime",freq="D")).count()

In [ ]:
df_slice1

In [ ]:
px.scatter(df_slice1, x=df_slice1.index, y="registered_customer")

Vorgegebene Aufgaben

In [14]:
df_slice2 = df[df["registered_customer"] == False].copy()

In [5]:
df_slice2

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
8,2020-01-04 00:31:22,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,False
9,2020-01-04 00:35:10,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,False
11,2020-01-04 00:42:24,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,False
17,2020-01-04 01:00:14,0.0,0.0,"clear, few clouds",9.02,13.635,80.0,0.0000,False
24,2020-01-04 01:11:21,0.0,0.0,"clear, few clouds",9.02,13.635,80.0,0.0000,False
...,...,...,...,...,...,...,...,...,...
3755333,2022-01-03 23:23:12,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,False
3755334,2022-01-03 23:23:18,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,False
3755352,2022-01-03 23:32:50,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,False
3755353,2022-01-03 23:33:34,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,False
3755354,2022-01-03 23:33:39,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,False

maybe group nach stunde dann count und mean von temp und atemp
dann lineare regression

In [15]:
df_slice3 = df_slice2.groupby(pd.Grouper(key="datetime",freq="H")).agg({"registered_customer": "count","temp": "mean", "atemp": "mean", "windspeed": "mean", "humidity": "mean",})

In [12]:
df_slice3

                     registered_customer   temp   atemp  windspeed  humidity
datetime
2020-01-04 00:00:00                    3   9.84  14.395     0.0000      81.0
2020-01-04 01:00:00                    8   9.02  13.635     0.0000      80.0
2020-01-04 02:00:00                    5   9.02  13.635     0.0000      80.0
2020-01-04 03:00:00                    3   9.84  14.395     0.0000      75.0
2020-01-04 04:00:00                    0    NaN     NaN        NaN       NaN
...                                  ...    ...     ...        ...       ...
2022-01-03 19:00:00                    9  10.66  12.880    11.0014      60.0
2022-01-03 20:00:00                    5  10.66  12.880    11.0014      60.0
2022-01-03 21:00:00                    4  10.66  12.880    11.0014      60.0
2022-01-03 22:00:00                    7  10.66  13.635     8.9981      56.0
2022-01-03 23:00:00                    8  10.66  13.635     8.9981      65.0

[17544 rows x 5 columns]

In [16]:
df_slice3.dropna()

                     registered_customer   temp   atemp  windspeed  humidity
datetime
2020-01-04 00:00:00                    3   9.84  14.395     0.0000      81.0
2020-01-04 01:00:00                    8   9.02  13.635     0.0000      80.0
2020-01-04 02:00:00                    5   9.02  13.635     0.0000      80.0
2020-01-04 03:00:00                    3   9.84  14.395     0.0000      75.0
2020-01-04 06:00:00                    2   9.02  13.635     0.0000      80.0
...                                  ...    ...     ...        ...       ...
2022-01-03 19:00:00                    9  10.66  12.880    11.0014      60.0
2022-01-03 20:00:00                    5  10.66  12.880    11.0014      60.0
2022-01-03 21:00:00                    4  10.66  12.880    11.0014      60.0
2022-01-03 22:00:00                    7  10.66  13.635     8.9981      56.0
2022-01-03 23:00:00                    8  10.66  13.635     8.9981      65.0

[16149 rows x 5 columns]

In [17]:
df_slice3.corr()

,registered_customer,temp,atemp,windspeed,humidity
registered_customer,1.000000,0.459885,0.453973,0.091659,-0.356967
temp,0.459885,1.000000,0.987181,-0.027144,-0.073364
atemp,0.453973,0.987181,1.000000,-0.063259,-0.055496
windspeed,0.091659,-0.027144,-0.063259,1.000000,-0.291329
humidity,-0.356967,-0.073364,-0.055496,-0.291329,1.000000

unterschied korrelationskoeffizient: temp r= 0,4598 und atemp r= 0,4539

In [6]:
df_sclice4= df_slice2[(df.holiday==1)&(df.windspeed>35)].copy()

C:\Users\paulh\AppData\Local\Temp\ipykernel_15928\512203837.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_sclice4= df_slice2[(df.holiday==1)&(df.windspeed>35)].copy()

In [7]:
df_sclice4

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
929511,2020-09-07 22:04:56,1.0,0.0,"cloudy, mist",24.60,27.275,88.0,39.0007,False
929513,2020-09-07 22:05:52,1.0,0.0,"cloudy, mist",24.60,27.275,88.0,39.0007,False
929514,2020-09-07 22:06:09,1.0,0.0,"cloudy, mist",24.60,27.275,88.0,39.0007,False
929518,2020-09-07 22:07:14,1.0,0.0,"cloudy, mist",24.60,27.275,88.0,39.0007,False
929538,2020-09-07 22:21:15,1.0,0.0,"cloudy, mist",24.60,27.275,88.0,39.0007,False
...,...,...,...,...,...,...,...,...,...
1387221,2020-12-28 11:51:22,1.0,0.0,"clear, few clouds",13.94,14.395,46.0,39.0007,False
1387228,2020-12-28 11:53:35,1.0,0.0,"clear, few clouds",13.94,14.395,46.0,39.0007,False
1387233,2020-12-28 11:54:38,1.0,0.0,"clear, few clouds",13.94,14.395,46.0,39.0007,False
1387240,2020-12-28 11:57:49,1.0,0.0,"clear, few clouds",13.94,14.395,46.0,39.0007,False
1387241,2020-12-28 11:58:48,1.0,0.0,"clear, few clouds",13.94,14.395,46.0,39.0007,False

In [14]:
df_sclice4.describe()

,holiday,workingday,temp,atemp,humidity,windspeed,registered_customer
count,207.0,207.0,207.000000,207.000000,207.000000,207.000000,207
unique,NaN,NaN,NaN,NaN,NaN,NaN,1
top,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,NaN,NaN,NaN,NaN,NaN,NaN,207
mean,1.0,0.0,15.168019,16.834903,45.454106,37.095829,NaN
std,0.0,0.0,3.046673,4.048780,13.533725,1.471588,NaN
min,1.0,0.0,13.120000,13.635000,37.000000,35.000800,NaN
25%,1.0,0.0,13.940000,14.395000,37.000000,36.997400,NaN
50%,1.0,0.0,13.940000,14.395000,42.000000,36.997400,NaN
75%,1.0,0.0,15.580000,19.695000,46.000000,39.000700,NaN
max,1.0,0.0,24.600000,27.275000,88.000000,39.000700,NaN

In [15]:
df_sclice4[(df_sclice4.temp == 1394.0)]

Empty DataFrame
Columns: [datetime, holiday, workingday, weather, temp, atemp, humidity, windspeed, registered_customer]
Index: []

In [13]:
df_sclice4.loc[df_sclice4.temp == 1394.0, "temp"] = df_sclice4.temp.div(100)

In [16]:
df_slice5 = df_sclice4.groupby(pd.Grouper(key="datetime",freq="H")).agg({"registered_customer": "count","temp": "mean", "atemp": "mean", "windspeed": "mean", "humidity": "mean",})

In [17]:
df_slice5.dropna()

                     registered_customer   temp   atemp  windspeed  humidity
datetime
2020-09-07 22:00:00                   18  24.60  27.275    39.0007      88.0
2020-11-13 10:00:00                   38  13.12  13.635    36.9974      42.0
2020-11-13 13:00:00                   57  15.58  19.695    36.9974      37.0
2020-12-28 10:00:00                   51  13.94  14.395    35.0008      42.0
2020-12-28 11:00:00                   43  13.94  14.395    39.0007      46.0

In [18]:
df_slice5.corr()

,registered_customer,temp,atemp,windspeed,humidity
registered_customer,1.000000,-0.775230,-0.623625,-0.626736,-0.915651
temp,-0.775230,1.000000,0.967912,0.525291,0.950670
atemp,-0.623625,0.967912,1.000000,0.485406,0.844940
windspeed,-0.626736,0.525291,0.485406,1.000000,0.585789
humidity,-0.915651,0.950670,0.844940,0.585789,1.000000

In [ ]:
# X = df_slice3["temp"]
# Y = df_slice3["registered_customer"]
# X.array.reshape(-1,1)
#array.reshape(-1, 1)

In [ ]:
# from sklearn import datasets, linear_model
# from sklearn.metrics import mean_squared_error, r2_score
# regr = linear_model.LinearRegression()
# regr.fit(X,Y)
# print("inputs", X.columns,"\n")
# print("Corresponding: \n", regr.coef_)
# print("Intercept: \n", regr.intercept_)

In [ ]:
#profile = ProfileReport(df_slice2, title='Idk', vars={"num": {"low_categorical_threshold": 0}})
#profile.to_notebook_iframe()

Maybe grÃ¼nde warum temperatur so ausschlÃ¤gt maybe bestimmter tag im monat
Trendlineien fÃ¼r nÃ¤chste Monate/Jahre/Jahreszeiten
Herausfinden warum ende des monats so oft ausgeliehen wird