In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
import missingno as msn
import datetime
from pandas_profiling import ProfileReport
import sklearn
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
df = pd.read_parquet("escooter_history_2022.parquet")

In [3]:
df_3 = df.groupby(pd.Grouper(key="datetime",freq="D")).agg({"registered_customer": ("count","sum"),"holiday":"mean","workingday":"mean"}).reset_index()

In [4]:
df_3

      datetime registered_customer       holiday workingday
                             count   sum    mean       mean
0   2020-01-04                 985   654     0.0    0.00000
1   2020-01-05                 801   670     0.0    0.00000
2   2020-01-06                1349  1229     0.0    1.00000
3   2020-01-07                1562  1454     0.0    1.00000
4   2020-01-08                1600  1518     0.0    1.00000
..         ...                 ...   ...     ...        ...
726 2021-12-30                4231  4024     0.0    1.00000
727 2021-12-31                8144  7629     0.0    1.00000
728 2022-01-01                5932  5293     0.0    0.00000
729 2022-01-02                5182  4392     0.0    0.00000
730 2022-01-03                6302  5927     0.0    0.99762

[731 rows x 5 columns]

In [5]:
#df_3[df_3.workingday.isna()]

In [6]:
df_3.columns = ["datetime","ges_count","reg_count","holiday","workingday"]

In [7]:
df_3.loc[(df_3.holiday != 1)&(df_3.holiday != 0)]

      datetime  ges_count  reg_count   holiday  workingday
149 2020-06-01       8688       5921  0.999424    0.000000
150 2020-06-02       7059       5964  0.000142    0.999858
247 2020-09-07       4206       2694  0.999762    0.000000
248 2020-09-08       3321       3038  0.000301    0.999699
366 2021-01-04       3147       2786  0.999682    0.000000
514 2021-06-01      10951       9352  0.000274    0.999726
611 2021-09-06       7747       5262  0.999742    0.000000

In [8]:
df_4 = df_3.loc[(df_3.workingday != 1)&(df_3.workingday != 0)]

In [9]:
df.datetime.dt.date.sort_index(inplace=True)

In [10]:
df_4.workingday.round()

28     0.0
56     0.0
58     1.0
65     1.0
119    0.0
121    1.0
126    0.0
150    1.0
154    0.0
182    0.0
240    1.0
248    1.0
273    0.0
301    0.0
303    1.0
308    0.0
310    1.0
331    1.0
336    0.0
394    1.0
422    1.0
427    0.0
457    1.0
483    0.0
490    0.0
514    1.0
520    1.0
546    0.0
548    1.0
576    1.0
583    1.0
609    0.0
637    0.0
639    1.0
667    1.0
674    1.0
730    1.0
Name: workingday, dtype: float64

In [12]:
df.loc[df.datetime.dt.date.isin(df_4.datetime.dt.date),"workingday"] = df_4.workingday.round()

In [14]:
df.loc[df.datetime.dt.date.isin(df_4.datetime.dt.date),"workingday"]

34320     NaN
34321     NaN
34322     NaN
34323     NaN
34324     NaN
           ..
3755410   NaN
3755411   NaN
3755412   NaN
3755413   NaN
3755414   NaN
Name: workingday, Length: 241680, dtype: float64