In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
import missingno as msn
import datetime
from pandas_profiling import ProfileReport
import sklearn

In [2]:
df = pd.read_parquet("escooter_history_2022.parquet")

In [3]:
df

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
0,2020-01-04 00:00:09,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
1,2020-01-04 00:00:41,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
2,2020-01-04 00:01:20,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
3,2020-01-04 00:04:12,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
4,2020-01-04 00:15:19,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
...,...,...,...,...,...,...,...,...,...
3755410,2022-01-03 23:58:10,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755411,2022-01-03 23:58:28,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755412,2022-01-03 23:58:46,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755413,2022-01-03 23:59:16,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755414,2022-01-03 23:59:48,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True

In [4]:
df_3 = df.groupby(pd.Grouper(key="datetime",freq="D")).agg({"registered_customer": ("count","sum"),"holiday":"mean","workingday":"mean"}).reset_index()

In [25]:
df_3

      datetime registered_customer       holiday workingday
                             count   sum    mean       mean
0   2020-01-04                 985   654     0.0        0.0
1   2020-01-05                 801   670     0.0        0.0
2   2020-01-06                1349  1229     0.0        1.0
3   2020-01-07                1562  1454     0.0        1.0
4   2020-01-08                1600  1518     0.0        1.0
..         ...                 ...   ...     ...        ...
726 2021-12-30                4231  4024     0.0        1.0
727 2021-12-31                8144  7629     0.0        1.0
728 2022-01-01                5932  5293     0.0        0.0
729 2022-01-02                5182  4392     0.0        0.0
730 2022-01-03                6302  5927     0.0        1.0

[731 rows x 5 columns]

In [28]:
df_3.dtypes

datetime                      datetime64[ns]
registered_customer  count             int64
                     sum               Int64
holiday              mean            float64
workingday           mean            float64
dtype: object

In [23]:
df_3["holiday"] = df_3.holiday["mean"].round()

In [24]:
df_3["workingday"] = df_3.workingday["mean"].round(1)

In [26]:
df_3[(df_3.workingday["mean"] != 1)&(df_3.workingday["mean"] != 0)]

Empty DataFrame
Columns: [(datetime, ), (registered_customer, count), (registered_customer, sum), (holiday, mean), (workingday, mean)]
Index: []

In [19]:
df[df.datetime.between("2020-2-1", "2020-2-2")]

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
34320,2020-02-01 00:00:25,0.0,1.0,"clear, few clouds",9.84,11.365,60.0,15.0013,True
34321,2020-02-01 00:01:11,0.0,1.0,"clear, few clouds",9.84,11.365,60.0,15.0013,True
34322,2020-02-01 00:01:21,0.0,0.0,"clear, few clouds",9.02,9.850,64.0,23.9994,False
34323,2020-02-01 00:02:18,0.0,0.0,"clear, few clouds",9.02,9.850,64.0,23.9994,True
34324,2020-02-01 00:02:24,0.0,0.0,"clear, few clouds",9.02,9.850,64.0,23.9994,True
...,...,...,...,...,...,...,...,...,...
36421,2020-02-01 23:57:26,0.0,0.0,"clear, few clouds",6.56,9.850,80.0,6.0032,True
36422,2020-02-01 23:58:21,0.0,0.0,"clear, few clouds",6.56,9.850,80.0,6.0032,True
36423,2020-02-01 23:58:49,0.0,0.0,"clear, few clouds",6.56,9.850,80.0,6.0032,True
36424,2020-02-01 23:59:07,0.0,0.0,"clear, few clouds",6.56,9.850,80.0,6.0032,True
36425,2020-02-01 23:59:13,0.0,0.0,"clear, few clouds",6.56,9.850,80.0,6.0032,True

In [29]:
df_4 = df_3.groupby(pd.Grouper(key=("datetime","holiday[mean]"),freq="QS")).agg({"registered_customer": "mean"}).reset_index()

KeyError: "The grouper name ('datetime', 'holiday[mean]') is not found"