In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
import missingno as msn
import datetime
from pandas_profiling import ProfileReport
import sklearn

In [12]:
df = pd.read_parquet("escooter_history_2022.parquet")

In [3]:
df

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer
0,2020-01-04 00:00:09,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
1,2020-01-04 00:00:41,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
2,2020-01-04 00:01:20,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
3,2020-01-04 00:04:12,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
4,2020-01-04 00:15:19,0.0,0.0,"clear, few clouds",9.84,14.395,81.0,0.0000,True
...,...,...,...,...,...,...,...,...,...
3755410,2022-01-03 23:58:10,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755411,2022-01-03 23:58:28,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755412,2022-01-03 23:58:46,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755413,2022-01-03 23:59:16,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True
3755414,2022-01-03 23:59:48,0.0,1.0,"clear, few clouds",10.66,13.635,65.0,8.9981,True

In [13]:
df_3 = df.groupby(pd.Grouper(key="datetime",freq="D")).agg({"registered_customer": ("count","sum"),"holiday":"mean","workingday":"mean"}).reset_index()

In [15]:
df_3

      datetime ges_count reg_count holiday workingday
0   2020-01-04       985       654     0.0    0.00000
1   2020-01-05       801       670     0.0    0.00000
2   2020-01-06      1349      1229     0.0    1.00000
3   2020-01-07      1562      1454     0.0    1.00000
4   2020-01-08      1600      1518     0.0    1.00000
..         ...       ...       ...     ...        ...
726 2021-12-30      4231      4024     0.0    1.00000
727 2021-12-31      8144      7629     0.0    1.00000
728 2022-01-01      5932      5293     0.0    0.00000
729 2022-01-02      5182      4392     0.0    0.00000
730 2022-01-03      6302      5927     0.0    0.99762

[731 rows x 5 columns]

In [28]:
df_3.columns = ["datetime","ges_count","reg_count","holiday","workingday"]

In [16]:
df_3.dtypes

datetime      datetime64[ns]
ges_count              int64
reg_count              Int64
holiday              float64
workingday           float64
dtype: object

In [6]:
df_3["holiday"] = df_3["holiday"].round()

In [15]:
df_3["workingday"].round()

    workingday
0          0.0
1          0.0
2          1.0
3          1.0
4          1.0
..         ...
726        1.0
727        1.0
728        0.0
729        0.0
730        1.0

[731 rows x 1 columns]

In [32]:
#df_3[(df_3.workingday != 1)&(df_3.workingday != 0)]
df_3.loc[(df_3.holiday != 1)&(df_3.holiday != 0)]

      datetime  ges_count  reg_count   holiday  workingday
149 2020-06-01       8688       5921  0.999424    0.000000
150 2020-06-02       7059       5964  0.000142    0.999858
247 2020-09-07       4206       2694  0.999762    0.000000
248 2020-09-08       3321       3038  0.000301    0.999699
366 2021-01-04       3147       2786  0.999682    0.000000
514 2021-06-01      10951       9352  0.000274    0.999726
611 2021-09-06       7747       5262  0.999742    0.000000

In [ ]:
df[df.datetime.between("2020-2-1", "2020-2-2")]

In [12]:
df_3

      datetime ges_count reg_count holiday workingday
0   2020-01-04       985       654     0.0        0.0
1   2020-01-05       801       670     0.0        0.0
2   2020-01-06      1349      1229     0.0        1.0
3   2020-01-07      1562      1454     0.0        1.0
4   2020-01-08      1600      1518     0.0        1.0
..         ...       ...       ...     ...        ...
726 2021-12-30      4231      4024     0.0        1.0
727 2021-12-31      8144      7629     0.0        1.0
728 2022-01-01      5932      5293     0.0        0.0
729 2022-01-02      5182      4392     0.0        0.0
730 2022-01-03      6302      5927     0.0        1.0

[731 rows x 5 columns]

In [8]:
px.scatter(df_3,x="datetime",y="ges_count",color="holiday")

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
df_4 = df_3.groupby(pd.Grouper(key=("datetime","holiday[mean]"),freq="QS")).agg({"registered_customer": "mean"}).reset_index()

KeyError: "The grouper name ('datetime', 'holiday[mean]') is not found"